<div class="diary-entry-details-page-wrapper"> 
  <form [formGroup]="diaryEntryForm" (ngSubmit)="onSubmit()">
    <div class="form-group diary-entry-form-group">
      <label for="title">Title</label><br>
      <input type="text" name="title" pInputText formControlName="title" [readonly]="diaryEntryId && diaryEntryId != 0"/>
    </div>
    
    <div class="form-group diary-entry-form-group" *ngIf="diaryEntryId && diaryEntryId != 0">
      <label for="creationDate">Creation Date</label><br>
      <input type="text" name="creationDate" pInputText formControlName="creationDate" readonly="true"/>
    </div>
    
    <div class="form-group diary-entry-form-group">
      <label for="content">Content</label><br>
      <textarea name="content" pInputText formControlName="content" [readonly]="diaryEntryId && diaryEntryId != 0"></textarea>
    </div>   
    <div class="flex-container form-group btn-container" *ngIf="!diaryEntryId || diaryEntryId == 0; else backContainer">
      <p-button label="Submit" type="submit" [disabled]="!diaryEntryForm.valid"></p-button>
      <p-button label="Cancel" styleClass="p-button-secondary" type="button" (click)="onCancel()"></p-button>
    </div>
    <ng-template #backContainer>
      <div class="flex-container form-group btn-container">
        <p-button label="Back to Diary Entry List" type="button" (click)="onCancel()"></p-button>
      </div>
    </ng-template>
  </form>
</div>